
@import url('https://fonts.googleapis.com/css?family=Cairo');


.title a{
  text-decoration: none;
}

h1 {
  background-image: url(https://th.bing.com/th/id/R.2d64b23ecab956a3c2c8ffb9ba7b0abc?rik=3IZVX2kZIgHLCw&riu=http%3a%2f%2fwww.seur.com%2flivetracking%2fjavax.faces.resource%2fimg%2fbarra_azul.GIF.do&ehk=%2fK6VmnR3HJF5KJk4nH8tYVb2A0MlBmqrzAtqwV7fzrc%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 50px;
   margin-right: 220pt;
   margin-top: 2%;
}
body {
  margin-top: 94px; /* Margen superior del cuerpo para compensar la altura del encabezado */
  font-size: 15px;
  background-color: whitesmoke;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  margin: auto;
  text-align: justify;
}

header {
  position: fixed;
  top: 0;
  height: 80px;
  background: #272727;
  color: #FFF;
  display: flex;
  justify-content: flex-end;
  opacity: 1;
  width: 100%;
}

#contenido {
  margin-top: 20px; 
}

#btn-menu {
  display: none;
}
.menu{
  position: absolute;
}

header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu ul {
  background: #272727;
  display: flex;
  list-style: none;
}

.menu ul ul {
  display: none;
}

.menu a {
  display: block;
  padding: 13px 17px;
  color: #0DBEA0;
  text-decoration: none;
  line-height: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.menu a:hover {
  background: #2C3E50;
}

.menu a i {
  margin-left: 40px;
}

.menu ul li:hover ul {
  transition: all 0.3s ease;
  display: block;
  position: absolute;
}

@media (max-width: 768px) {
  header label {
    display: block;
    padding-top: 16px;
    padding-right: 16px;
    transition: all 0.4s ease;
  }
  
  .menu {
    position: absolute;
    top: 64px;
    left: 0;
    width: 70%;
    height: 94px;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  
  .menu ul {
    flex-direction: column;
    //display: block;
  }
  
  .menu ul li:hover ul {
    display: none;
    position: static;
  }
  
  .menu a i {
    position: absolute;
    
    line-height: 42px;
  }
  
  #btn-menu:checked ~ .menu {
    transform: translateX(0%);
  }
  
}
.submenu{
  margin-left: ;
  width: 130pt;
  opacity: 1;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
  -webkit-box-shadow: 0px 0px 30px rgba(13, 184, 144);
  -moz-box-shadow: 0px 0px 30px rgba(13, 184, 144);
  box-shadow: 0px 0px 30px rgba(13, 184, 144);
}
a[href*="ProgramacionPomodoro.html"]{
  margin-right: 400pt;
  float: left;
}
img[id*="logo"]{
  width: 370pt;
  height: 48pt;
}
.text{
  margin left:15pt ;
}
.text h2 {
  text-align: center;
font-family: Arial; 
font-size: 30px; 
COLOR: #28282D; 
text-shadow: 0px 0px 9px #23C8A4;

}

.videointro video{
  width: 60%;
  
  
}


.introduccion{
   
  width: 80%;
  margin-left: -6pt;
    
  
  
 
}
.introduccion h2{
  font-size: 20pt;
  text-align: justify;
       
  width: 50pt;
  margin-top: -50pt;
}
.introduccion p{
  
  text-align: justify;
  width: 100%;
  font-size: 13pt;
}
.contenido{
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-left: -6pt;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  display: inline-block;
  
}
.contenido h2{
  text-align: justify;     
  width: 200pt;
  font-family: "Montserrat", sans-serif;
}
.contenido p{
  
  text-align: justify;
  width: 600pt;
  margin-left: 15%;
  font-size: 14pt;
  
}
.contenido img{
  float: left;
  margin-top: 50pt;
  margin-left: 100pt;
}
.contenido2{
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-left: -6pt;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  
 
  
}
.contenido2 h2{
  text-align: justify;      
  width: 200pt;

}
.contenido2 p{
  text-align: justify;
  width: 600pt;
  margin-right: 15%;
  font-size: 14pt;
}
.contenido2 img{
float: right;
margin-top: -190pt;
margin-right: 120pt;
  
}



hr{
  color: #3B907D;
}
.t{
  text-align: justify;
  font-size: 12pt;
  margin: 20pt;
}
.headt{
  color: white; 
  background-color: black;
}
.f1{
  background-color: white;
}
.f2{
   background-color: #9E9E9E;
}