.title a{
  text-decoration: none;
}

h1 {
  background-image: url(https://th.bing.com/th/id/R.2d64b23ecab956a3c2c8ffb9ba7b0abc?rik=3IZVX2kZIgHLCw&riu=http%3a%2f%2fwww.seur.com%2flivetracking%2fjavax.faces.resource%2fimg%2fbarra_azul.GIF.do&ehk=%2fK6VmnR3HJF5KJk4nH8tYVb2A0MlBmqrzAtqwV7fzrc%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 1%;
  margin-right: 200pt;
}
body {
  font-family: "Monserrat", serif;
  margin-top: 94px; /* Margen superior del cuerpo para compensar la altura del encabezado */
  font-size: 15px;
  background-color: white;
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  margin: auto;
  text-align: justify;
}

header {
  position: fixed;
  top: 0;
  height: 70px;
  background: #272727;
  color: #FFF;
  display: flex;
  justify-content: flex-end;
  opacity: 1;
  width: 100%;
}
div[id*="titulo"]{
  width: 15%;
  
}
div[id*="informacion"]{
  
  width: 95%;
}
div[id*="biblotecasframeworks"]{
  
  width: 95%;

}
div[id*="comunidad"]{
  
  width: 95%;

}
div[id*="casos"]{
  
  width: 95%;

}
div[id*="desafiosconsideraciones"]{
 
  width: 95%;

}
div[id*="recursosrecomendaciones"]{
  
  width: 95%;

}
h2, h3, h4, p{
  font-family: Arial, sans-serif;
}
h2{
  font-size: 27px;
}
h3{
  font-size: 18px;
  margin-left: 3%;
  color: #4C5FFF;

}
h4{
  width: 40%;
  color: #272727;
}

p{
  text-align: justify;
  font-size: 16.5px;
}
